# Test data and temporary files
/testdata/*
/AgBH_cali_2m_13.5kev_x0.500_y0.000_10.00s_1345146_saxs.tiff

# Build and cache directories  
**__pycache__/
/bak/
/Bsub/testing/
/doc/

# Temporary and backup files
*.md
*.bak
*.dev
test*
*debug*
